.alGSlider {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    overflow: hidden;
    max-width: 1280px;
}

.alGSlider__slide {
    display: inline-block;
    width: 100%;
    height: 100%;
}

.alGSlider__slide--hidden {
    display: none;
}

.alGSlider__slide-item {
    display: block;
    height: 100%;
    width: 100%;
}

.alGSlider__arrow-left,
.alGSlider__arrow-right {
    z-index: 1;
    position: absolute;
    top: 0;
    bottom: 0;
    display: block;
    width: 40px;
    height: 100%;
    padding: 0;
    border: none;
    outline: none;
    cursor: pointer;
    background: rgba(0,0,0,0.2);
    color: #fff;
    font-size: 25px;
}

.alGSlider__arrow-left {
    left: 0;
}

.alGSlider__arrow-left::after {
    content: '\003C';
}

.alGSlider__arrow-right {
    right: 0;
}

.alGSlider__arrow-right::after {
    content: '\003E';
}

.alGSlider__breadcrumbs {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    padding-bottom: 10px;
    z-index: 1;
    text-align: center;
}

.alGSlider__breadcrumbs-item {
    display: inline-block;
    width: 5px;
    height: 5px;
    margin-left: 3px;
    margin-right: 3px;
    border: 3px solid #ffffff;
    border-radius: 50%;
    cursor: pointer;
}

.alGSlider__breadcrumbs-item--active {
    background: #22dd33;
}